body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
      115deg,
      rgba(100, 100, 158, 0.8),
      rgba(136, 52, 206, 0.7)
    ),
    url(https://img.freepik.com/vector-premium/vector-patrones-fisuras-musica-editable-puede-utilizar-fondos-paginas-web-rellenos-patron_159242-1367.jpg?w=740);

  font-family: Tahoma;
  font-size: 16px;
}

#nav1 {
  opacity: 0.9;
  background: linear-gradient(
    115deg,
    rgba(100, 100, 158, 0.8),
    rgba(136, 52, 206, 0.7)
  );
  padding: 0px 20px;

  vertical-align: middle;
}

#create-count {
  font-weight: bold;
  color: black;
  padding: auto;
  margin-left: 700px;
}
p {
  margin: 1em auto;
  text-align: center;
  color: black;
  margin-top: 70px;
  font-size: 30px;
  font: oblique bold 210% cursive;
}

#title1 {
  font-size: 100px;
}
.logo > img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  margin-left: 20px;
}
label {
  display: block;
  margin: 0.5rem 0;
  color: white;
  padding-left: 35px;
  padding-right: 10px;
  font-weight: bold;
}
fieldset {
  background-color: rgba(27, 27, 50, 0.8);
  border: none;
  padding: auto;
}

form {
  width: 60vw;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  border-radius: 10px;
}

input {
  font-size: 15px;
  margin: 10px 0 0 0;
  width: 95%;
  border-radius: 5px;
  height: 35px;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em;
  vertical-align: middle;
}

#submit {
  display: block;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: rgba(136, 52, 206, 0.7);
  border-color: white;
  color: black;
  min-width: 200px;
}

/* CSS PARA CREAR USUARIO */
.logo1 {
  text-align: center;
  margin-top: -30px;
}
.logo1 > img {
  height: 300px;
}

#register {
  border: none;
  padding: 1rem 0;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}

#register1 {
  display: flex;
  margin-top: 5px;
  padding: 20px;
  justify-content: center;
}

#submit1 {
  font-size: 1.1rem;
  background-color: rgba(136, 52, 206, 0.7);
  border-color: white;
}
#submit2 {
  font-size: 1.1rem;
  background-color: rgba(136, 52, 206, 0.7);
  border-color: white;
  margin-left: 100px;
}

/* CSS PARA ADMINISTRADOR */
#welcomeA {
  margin-top: 2rem;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 2rem;
}
#CL {
  float: left;
  width: 30%;
  margin-left: 10rem;
}

#posData {
  margin-left: 0;
  margin-top: 2rem;
}

#graphs {
  clear: both;
  margin-left: 5rem;
  margin-top: 2rem;
  float: left;
}
#CLB {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#showHashTableG {
  width: 900px;
  height: 500px;
  margin-top: 300px;
  margin-left: 400px;
  overflow: auto;
  display: none;
}
#downloadGraphs {
  margin-left: 30px;
}
#graphPeliculas {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

#graphClientes {
  font-size: 1.5rem;
  margin-bottom: 50px;
}
#buttonGraph {
  font-size: 1.5rem;
}

#graphActores {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

#graphCategorias {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

#showSimpleListG {
  width: 900px;
  height: 500px;
  margin-top: 300px;
  margin-left: 400px;
  overflow: auto;
  display: block;
}
#showSimpleListG1 {
  width: 800px;
  height: 300px;
  margin-top: 200px;
  margin-left: 500px;
  overflow: auto;
  display: none;
}
#showSimpleListG2 {
 
  width: 500px;
  height: 400px;
  margin-left: 450px;
  margin-top: 10px;


  


  overflow: auto;
  display: none;
}
#showSimpleListG4{
  width: 500px;
  height: 400px;
  margin-left: 450px;
  margin-top: 10px;


  


  overflow: auto;
  display: block;
}
#showSimpleListG5{
  width: 500px;
  height: 400px;
  margin-left: 450px;
  margin-top: 10px;


  


  overflow: auto;
  display: block;
}
#showBST {
  width: 900px;
  height: 500px;
  margin-top: 300px;
  margin-left: 400px;
  overflow: auto;
  display: none;
}
#showAVL {
  width: 900px;
  height: 500px;
  margin-top: 300px;
  margin-left: 400px;
  overflow: auto;
  display: none;
}
/* DIVS */

#LOGIN-1 {
  /* asdfk */
  display: block;
}
#createAcount {
  display: none;
}
#PANTALLA-USUARIO {
  display: none;
}
#create1 {
  display: none;
}
#PANTALLA-ADMINISTRADOR {
  display: none;
}
#PANTALLA-USUARIO {
  display: none;
}

@media (max-width: 500px) {
  #create1 {
    display: block;
    margin-left: 160px;
    margin-bottom: -50px;
  }

  #create-count {
    text-decoration: none;
  }
}
/* 
NAV DE USUARIO */

#create {
  font-weight: bold;
}

#create2 {
  font-weight: bold;
  margin-left: 410px;
}
/* PANTALLA DE USUARIO */
#PANTALLA-MUSICA {
  display: block;
}
#PANTALLA-ARTISTAS {
  display: none;
}
/* ---------------------------------------------------------- */

#welcomeA {
  margin-top: 2rem;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

#libr {
  margin: 2rem;
  float: left;
}
#artis {
  margin: 2rem;
}

#Ordenar {
  display: none;
  margin-top: 30px;
  margin-left: 300px;
  float: left;
  border-color: black;
  border-radius: 3px;
  border-style: solid;
}

@import url("https://rsms.me/inter/inter-ui.css");
::selection {
  background: #2d2f36;
}
::-webkit-selection {
  background: #2d2f36;
}
::-moz-selection {
  background: #2d2f36;
}
body {
  background: rgb(226, 216, 216);
  font-family: "Inter UI", sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474a59;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #f1f1f2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
/* svg {
  position: absolute;
  width: 320px;
} */
/* path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
} */
.form {
  margin: 40px;
  position: absolute;
}
/* label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
} */
h4 {
  color: black;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
/* input::-moz-focus-inner { 
  border: 0; 
} */
/* #submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
} */
/* #submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
} */

#formulario {
  margin-top: 30px;
  margin-left: 100px;
  float: left;
  display: none;
}

#PANTALLA-PLAYLIST {
  display: none;
}

#Botones-playlist {
  display: none;
  margin-top: 500px;
  margin-left: 570px;
}
#izquierdo {
  width: 100px;
}
#DERECHO {
  width: 100px;
}

#register1 {
  margin-bottom: 10px;
}

#spanA1 {

  float:left;
  width: 1300px;
  border-color: black;
  border-radius: 50px;
  border-style: solid;
  margin-top: 10px;
  overflow:auto;
  margin-bottom: 10px;
  
}

#spanA1 > #artis{
  float:left;
  width: 350px;
  



}
#texto3{
  font-size: 50px;
  margin-left: 450px;
  font-weight: bold;
  color:blueviolet
  
}


ESTILOS PANTALLA AMIGOS


#PANTALLA-USUARIOS{
  display: none;
}
#PANTALLA-AMIGOS{
  display:none;
}

#grafoamigos{
  display:none
}
#PANTALLA-BLOQUEADOS{
  display:none;
}


/* CSS PARA USUARIOS */
#artis2{
  margin-top: 10px;
  margin-left:5px;
  margin-right: 5px;
  margin-bottom: 10px;
  display:flex;

}

#PANTALLA-USUARIOS > #spanAB1{

  margin-top: 10px;
  border: #2d2f36;
  border-style: solid;


 
  float:left;
 
  display:flex;


  flex-direction:row;



  



}
#PANTALLA-AMIGOS > #spanAC1{

  margin-top: 10px;
  border: #2d2f36;
  border-style: solid;


 
  float:left;
 
  display:flex;


  flex-direction:row;



  



}
#Mostrar-bloqueados > #spanACD1{
  margin-top: 10px;
  border: #2d2f36;
  border-style: solid;


 
  float:left;
 
  display:flex;


  flex-direction:row;



}
#botoneliminar{
  margin-top:-700px;
  margin-left: 100px;
}
#botonbloquear{
  margin-top:-700px;
}

#Mostrar-bloqueados{
  display:none;

}