body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
      115deg,
      rgba(100, 100, 158, 0.8),
      rgba(136, 52, 206, 0.7)
    ),
    url(https://img.freepik.com/vector-premium/vector-patrones-fisuras-musica-editable-puede-utilizar-fondos-paginas-web-rellenos-patron_159242-1367.jpg?w=740);

  font-family: Tahoma;
  font-size: 16px;
}

#nav1 {
  opacity: 0.9;
  background: linear-gradient(
    115deg,
    rgba(100, 100, 158, 0.8),
    rgba(136, 52, 206, 0.7)
  );
  padding: 0px 20px;

  vertical-align: middle;
}

#create-count {
  font-weight: bold;
  color: black;
  padding: auto;
  margin-left: 700px;
}
p {
  margin: 1em auto;
  text-align: center;
  color: white;
  margin-top: 70px;
  font-size: 30px;
  font: oblique bold 210% cursive;
}

#title1 {
  font-size: 100px;
}
.logo > img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  margin-left: 20px;
}
label {
  display: block;
  margin: 0.5rem 0;
  color: white;
  padding-left: 35px;
  padding-right: 10px;
  font-weight: bold;
}
fieldset {
  background-color: rgba(27, 27, 50, 0.8);
  border: none;
  padding: auto;
}

form {
  width: 60vw;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  border-radius: 10px;
}

input {
  font-size: 15px;
  margin: 10px 0 0 0;
  width: 95%;
  border-radius: 5px;
  height: 35px;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em;
  vertical-align: middle;
}

#submit {
  display: block;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: rgba(136, 52, 206, 0.7);
  border-color: white;

  min-width: 200px;
}

/* CSS PARA CREAR USUARIO */
.logo1 {
  text-align: center;
  margin-top: -30px;
}
.logo1 > img {
  height: 300px;
}

#register {
  border: none;
  padding: 1rem 0;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}

#register1 {
  display: flex;
  margin-top: 5px;
  padding: 20px;
  justify-content: center;
}

#submit1 {
  font-size: 1.1rem;
  background-color: rgba(136, 52, 206, 0.7);
  border-color: white;
  
}
#submit2 {
  font-size: 1.1rem;
  background-color: rgba(136, 52, 206, 0.7);
  border-color: white;
  margin-left: 100px;
}

/* CSS PARA ADMINISTRADOR */
#welcomeA{

  margin-top: 2rem;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 2rem;

}
#CL{

  float: left;
  width: 30%;
  margin-left: 10rem;

}

#posData{

  margin-left: 0;
  margin-top: 2rem;
}

#graphs{

  clear: both;
  margin-left: 5rem;
  margin-top: 2rem;
  float: left;


}
#CLB{
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#showHashTableG{

  width: 700px;
  height: 500px;
  margin-top:300px;
  margin-left:400px;
  overflow: auto;


}
#downloadGraphs{

  margin-left: 30px;


}
#graphPeliculas{

  font-size: 1.5rem;
  margin-bottom: 50px;
}

#graphClientes{

  font-size: 1.5rem;
  margin-bottom: 50px;

}
#buttonGraph{
  font-size: 1.5rem;

}

#graphActores{

  font-size: 1.5rem;
  margin-bottom: 50px;

}

#graphCategorias{

  font-size: 1.5rem;
  margin-bottom: 50px;

}

#showSimpleListG{

  width: 10px;
  height: 50px;
  margin-left: 25rem;
  margin-top: 10rem;
  overflow: auto;
  display: none;

}
#showBST{

  width: 100rem;
  height: 50rem;
  margin-left: 25rem;
  margin-top: 10rem;
  overflow: auto;
  display: none;

}
#showAVL{

  width: 100rem;
  height: 50rem;
  margin-left: 25rem;
  margin-top: 10rem;
  overflow: auto;
  display: none;

}
/* DIVS */

#LOGIN-1 {
  /* asdfk */
  display: block;
}
#createAcount {
  display: none;
}
#PANTALLA-USUARIO {
  display: none;
}
#create1 {
  display: none;
}
#PANTALLA-ADMINISTRADOR{
  display:none;
}

@media (max-width: 500px) {
  #create1 {
    display: block;
    margin-left: 160px;
    margin-bottom: -50px;
  }

  #create-count {
    text-decoration: none;
  }
}
